body .gen {padding: 10px}

.dnone {display: none;}

.gen img {width: 20px;
          padding: 0px;
          height: 25px;
          margin-inline: 6px;
          margin-block: 6px;}

.gen label {font-family: "Inter";
            font-size: 17px;
            color: #444;
            display: inline-block;
            background: none;}

.lme label {font-size:  20px;
            color: white;
            font-weight: normal;
            display: flex;}

.button {background-color: #94adde;
         color: #35425d;
         border: none;
         cursor: pointer;
         border-radius: 6px;
         width: auto;
         min-width: 85px;
         height: 35px;
         transition: 0.2s;
         margin-inline: 5px;
         padding: 2px;
         display: flex;
         align-items: center;
         justify-content: center;
         font-family: sans-serif;
         font-size: 13px;
         font-weight: 600;
         position: relative;}
           
.button::before {content: "";
                 background-size: contain;
                 background-repeat: no-repeat;
                 background-position: center;
                 width: 20px;
                 height: 25px;
                 margin-right: 6px;
                 margin-block: 6px;
                 position: absolute;
                 left: 10px;}
           
.button:hover {background-color: #d5d5d6;
               box-shadow: 0 0 0 1px #5151525f;
               color: #fff;}

.buttonfe {width: 100%;
           height: 100%; 
           display: flex; 
           flex-direction: row;
           gap: 2px;}

.buttonfe input {background: transparent;
                 border: transparent;
                 font-family: sans-serif;
                 font-size: 13px;
                 font-weight: 700;}

.gen a      {font-weight:     bolder;
             color:           #0060d4;
             text-decoration: underline;}

.gen select {height:           27px;
             width:            100px;
             background-color: #d5d4d4c2;
             border-color:     #9392929a;}             

.logoEmpresa {display: flex; width: 100%; justify-content: center; align-items: center;}

.titulo {border: 2px solid rgb(104, 104, 104);
         border-bottom: none; 
         border-radius: 6px;
         background-color: #cfdaec;
         height: 33px; 
         width: 98%;
         justify-content: center; 
         display: flex;}

.titulo h2 {margin-top: 0px;
            color: #274d8c;}

.aba    {height: 40px;
         min-width: 180px;
         width: auto;
         display: flex;
         justify-content: flex-start;
         flex-direction: column;
         border: 1px solid rgb(104, 104, 104);
         border-bottom: none; 
         background-color: rgb(210, 210, 210);}

.dabaexterna {height: 40px; 
             width: 90%; 
             justify-content: center; 
             margin: 10px; 
             margin-bottom: 0px;
             padding: 0px; 
             display: flex; 
             justify-content: flex-start;}

.abaint      {display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;}

.abaint:hover {background-color: rgb(205, 204, 204);}


.aba label {font-family: "Host Grotesk", serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;}

.indentaba {background-color: rgb(81, 81, 81);
            height: 4px;
            width: 100%;
            margin-top: 0px;}

.aba:hover .indentaba {background-color: #39537f}

.if {width: 100%; 
     height: 30px;}

.dmf {width: 100%; 
      height: auto;
      margin-top: 6px;}

.container-row {display: flex; flex-direction: row;}

.dmf div.button {margin-top: 10px;}

.dmf h2 {margin-top: 0px;
         margin-bottom: 50px;}

.dmf label {font-family:Arial, Helvetica}

.closediv {display: flex; justify-content: flex-end;align-items: center; height: 35px; border-radius: 5px;}

.bpc {display: flex;
      border: 3px solid darkgrey;
      margin-inline: 10px;
      align-items: center;
      justify-content: center;
      height: 23px;}

.bpc:hover {opacity: 0.3;}

input {font-family:      "Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
      font-weight:      180;
      font-size:        14px;
      color:            #000000;
      background-color: #94ad912b;
      box-shadow:       black;
      border-radius:    0.3vw;
      box-shadow:       0 0 0 .15vw rgba(135, 207, 235, 0.186);
      padding:          2.5px;
      transition:       .2s;}

input:hover {box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;}

input:focus {box-shadow: 0 0 0 .1vw #39537f; } /* colocar uma cor do sistema */

input[type="button"], 
input[type="submit"], 
input[type="reset"] {box-shadow: none;}

textarea {font-family:      "Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
          font-weight:      180;
          font-size:        14px;
          color:            #000000;
          background-color: #94ad912b;
          box-shadow:       black;
          border-radius:    0.3vw;
          box-shadow:       0 0 0 .15vw rgba(135, 207, 235, 0.186);
          padding:          2.5px;
          transition:       .2s;
          resize: none;}

textarea:hover {box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;}

textarea:focus {box-shadow: 0 0 0 .1vw #39537f; }

textarea[type="button"], 
textarea[type="submit"], 
textarea[type="reset"] {box-shadow: none;}

.DMF_external {width:  100%;
               height: 100%;
               background-color: #00000076;
               position:         absolute;
               top: 0;
               left: 0;
               display: flex;
               justify-content: center;
               align-items: center;}

.DMF_tema1     {border-radius: 10px;
                background-color: #fafafa;}

div.grid {display: flex;
          justify-content: center;
          align-items: flex-start;}
       
.div_table_init {display: flex; flex-direction: column; height: 100%; margin-block: 20px; border: 1px solid #c1c1c1; overflow: hidden;}

tr {font-size: 16px;}

th {background-color: #cecece;}

td {border-bottom: 0;}

th, td {padding: 11px;
        box-sizing: border-box;}

td {border: solid 1px #bbbbbb;  
    border-left: solid 1px #bbbbbb; 
    border-right: solid 1px #bbbbbb; 
    white-space: nowrap;
}

tr:first-child td {border-top: solid 1px #bbbbbb;}

tr:last-child td {
    border-bottom: solid 1px #bbbbbb;}

table {
     font-size: 16px;
     width: 100%;
     border: 2px solid #d4d4d4;
       th {
         color: #000;
         font-weight: normal;
         border-bottom: solid 2px #d8d8d8;
         position: sticky;
         top: 0;
         border: 1px solid black;
       }
       td {
         border: solid 1px #bbbbbb;
         border-left: 0;
         border-right: 0;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
       }
}

.tablecolun, .tabledata2 {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

}

.h100 {height: 100%;}

.divtableres {height: calc(100% - 42px); overflow-y: auto;}

.tablecolun {border: 1px solid rgb(0, 0, 0); border-collapse: collapse;}
.tablecolun th {text-wrap: nowrap;}

.tdalign-esq          {text-align: left;}
.tdalign-cen          {text-align: center;}
.tdalign-dir          {text-align: right;}
.tdalign-esqoverellip {text-align: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}

.tabledata2 {overflow-y: scroll;}
.tabledata2 tbody {border-top: hidden; overflow-y: auto; max-height: calc(100% - 40px);}

.mouseovercolor   {background-color: rgb(176, 193, 223)}
.clicktableborder {border: solid #1c1c1c !important;}

.itensint li, ul {list-style-type: none}
.itensint ol{padding: 0;}
.itensint {max-height: 100%; overflow-x: hidden; flex-grow: 1; overscroll-behavior-y: none;}