<!-- 
    Dev: Lucas Leocadio de Souza
    Data: 04/03/25
    IM: 00013
-->

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/padrao.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Monomakh&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <title>Ficha de Contratos</title>
    <script src="/js/wcr00401.js" defer></script>
    
<style>
    .ppp         {width: 32px;}
    .p           {width: 60px;}
    .small       {width: 100px;}   
    .medium      {width: 120px;}
    .Intermedium {width: 180px;}
    .large       {width: 240px;}
    .extralarge  {width: 300px;}

</style>
</head>
<body>
    <div id="fichacompleta" style=" height: 100vh; display: flex; justify-content: center; padding: 15px;flex-direction: column;justify-content: flex-start;">
        
    </div>
</body>
</html>