<!-- 
    Dev: Lucas Leocadio de Souza
    Data: 15/06/25
    IM: 00021
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/padrao.css">
    <title>Cadastro de Aplicação</title>
    <script src="/js/modules/adicionaScripts.js"></script>
    <script>
        adicionarHeadLinks();
        adicionaHeader();
        addScriptsHead("/js/mrb/imrb001.js,/js/mrb/wmrb001.js,/js/mrb/wzoommrb001.js");
    </script>
<style>
    .ppp         {width: 32px  !important;}
    .p           {width: 60px  !important;}
    .medium      {width: 120px !important;}
    .Intermedium {width: 180px !important;}
    .large       {width: 240px !important;}
    .extralarge  {width: 300px !important;}

    .labelmodal {font-weight: 600; 
                 width: 185px;
                 text-align: right;}

    /* ::-webkit-scrollbar {
        width: 1px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    } */

    #dmodalf_libacess, #dmodalf_cadapl {width: 700px;
                                        opacity: 1;
                                        padding-bottom: 20px;}

    body {background-color: #1d3561;}
</style>
</head>
<body>
    <div class="gen princbody">
        <input type="hidden" id="ideusu" name="ideusu">

        <div class="titulo">
            <h2>Cadastro de Aplicação</h2>
        </div>

        <div id='abas'></div>

        <fieldset class="fieldset gen" style="display: flex; flex-direction: column;">
            <div class='if'>
                <label class="labelmodal">Código da Aplicacão: </label>
                <input type="text" id="codapl" name="codapl" class="ppp">
            </div>

            <div class='if'>
                <label class="labelmodal">Modulo da Aplicacão: </label>
                <input type="text" id="codmodel"  name="codmodel"  class="ppp">
            </div>

            <div  class='if' style="display: flex; height: auto;">
                <label class="labelmodal"></label>                
                <div id="bbuscar"    name="bbuscar"    class="button" value="Buscar"      data-icon="/icons/consultaLupa.png"></div>
                <div id="bnovabusca" name="bnovabusca" class="button" value="Nova Busca"  data-icon="/icons/novaPesquisa.png"></div>
                <div id="blimpar"    name="blimpar"    class="button" value="Limpar"      data-icon="/icons/limparIcon.png"></div>
            </div>
        </fieldset>
        
        <div class='if' style="display: flex; margin-left: 5px;">                            
            <div id="bliberar"   name="bliberar"   class="button" value="Liberar"  data-icon="/icons/plus_icon.png"></div>
            <div id="bcadastrar" name="bcadastrar" class="button" value="Cadastrar"  data-icon="/icons/plus_icon.png"></div>
            <div id="bimprimir"  name="bimprimir"  class="button" value="Imprimir" data-icon="/icons/printer.png"></div>
        </div>

        <div id="tabela_libacess"></div>
        <div id="tabela_APL"></div>

        <!--  MODAL -->
        <div id="dmodalf_libacess">
            <div class='titulo' style="margin-left: 6px; margin-bottom: 20px;">
                <h2><span id="stitulolibacess" name="stitulolibacess"></span></h2>
                <span     id="sacaolibacess"   name="sacaolibacess" style="display: none"></span>
            </div>

            <div class='dmf'>
                <label class="labelmodal">Usuário: </label>
                <input type="text" id="mideusu"     name="mideusu"     class="medium">
                <input type="text" id="mdescideusu" name="mdescideusu" class="large" disabled>
            </div>

            <div class='dmf'>
                <label class="labelmodal">Código da aplicacão: </label>
                <input type="text" id="mcodapl"     name="mcodapl"     class="ppp">
                <input type="text" id="mdescapllib" name="mdescapllib" class="large" disabled>
            </div>

            <div class='dmf'>
                <label class="labelmodal">Data vencimento: </label>
                <input type="date" id="mdatvenc"  name="mdatvenc"  class="medium">
            </div>

            <div class='dmf' style="display: flex; justify-content: center; align-items: center;">                            
                <div id="bcadastrolib" name="bcadastrolib" class="button" value="Liberar" data-icon="/icons/cadastro.png">
            </div>
        </div>

        <div id="dmodalf_cadapl">
            <input type="hidden" id="hcodapl" name="hcodapl">

            <div class='titulo' style="margin-left: 6px; margin-bottom: 20px;">
                <h2><span id="stitulocadcpl" name="stitulocadcpl"></span></h2>
                <span     id="sacaocadcpl"   name="sacaocadcpl" style="display: none"></span>
            </div>

            <div class='dmf'>
                <label class="labelmodal">Descricão: </label>
                <input type="text" id="mdescapl" name="mdescapl" class="large">
            </div>

            <div class='dmf'>
                <label class="labelmodal">Modulo Referente: </label>
                <input type="text" id="mmodulo"  name="mmodulo"  class="ppp">
                <input type="text" id="mdescmod" name="mdescmod" class="large" disabled>
            </div>

            <div class='dmf'>
                <label class="labelmodal">Restringir para role: </label>
                <select id="mrestrole" name="mrestrole" class="Intermedium"></select>
            </div>

            <div class='dmf'>
                <label class="labelmodal">Arquivo inicializador: </label>
                <input type="text" id="marqinit"  name="marqinit"  class="medium">
            </div>

            <div class='dmf buttoncenter'>                            
                <div id="bcadastroapl" name="bcadastroapl" class="button" value="Cadastrar" data-icon="/icons/cadastro.png">
            </div>
        </div>

    </div>
</body>
</html>